.contactPage {
  align-items: center;
  color: white;
  display: flex;
  flex-flow: column wrap;
  height: 70vh;
  margin: 0 auto;
  width: 93%;
}

.contactForm {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  max-width: 500px;
  width: 100%;
}
