.hero {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  gap: 50px;
  height: 95vh;
  width: 100%;
  background-color: white;
  position: relative;
  margin: 0 auto 30px;
}

.initTxt {
  font-weight: 900;
  text-align: center;
  z-index: 99;
}

.confusedImg {
  position: relative;
  animation: animateImg 1s ease-in-out infinite;
  left: 0;
  width: 500px;
}

@keyframes animateImg {
  
  0%, 100% {
    left: -20px;
  }
  50% {
    left: 20px;
  }
}

.carousel {
  height: 350px;
  width: 100%;
  background-color: white;
  margin: 0 auto;
  overflow: hidden;
}

.carouselWrapper {
  position: relative;
  width: 920px;
  margin: 0 auto;
}

.gallery {
  /* border: 1px solid black; */
  height: 300px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  border-radius: 4px;
  gap: 0 15px;
  scroll-behavior: smooth;
}

.gallery::-webkit-scrollbar {
  display: none;
}

.arrow-left,
.arrow-right {
  position: absolute;
  user-select: none;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  opacity: 0.1;
  transition: all 600ms ease-in-out;
  width: 20px;
  font-size: 40px;
  border-radius: 4px;
}

.arrow-right {
  left: auto;
  right: 0;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}

.jokeContainer {
  border: 1px solid black;
  margin: 10px 0;
}

.projectsContainer {
  width: 90%;
  /* background-color: white; */
  max-width: var(--defaultMaxWidth);
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

@media (width <= 1000px) {

  .carouselWrapper {
    width: 95%;
  }

  .confusedImg {
    width: 200px;
  }
}