.nav {
  background-color: rgba(36, 37, 38, 0.9);
  display: flex;
  justify-content: flex-start;
}

.defLink {
  padding: 10px;
  text-decoration: none;
  color: white;
  font-weight: 900;
  font-size: 1.5em;
  transition: all 400ms ease-in-out;
}

.defLink:focus {
  background-color: black;
}

.defLink:hover {
  background-color: black;
}
