.footer {
  display: block;
  color: white;
}

.line {
  width: 100%;
  height: 1px;
  background-color: hsla(0, 0%, 53.3%, .2);
}

.footerContainer {
  width: 90%;
  max-width: var(--defaultMaxWidth);
  margin-right: auto;
  margin-left: auto;
}

.footerWrap {
  display: flex;
  flex-flow: row wrap;
  padding: 20px 0;
  justify-content: center;
}
