* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
}

a {
  text-decoration: none;
}

:root {
  --defaultMaxWidth: 940px;
}

body {
  background: black;
}

@import url('../../components/Components.css');
@import url('../../pages/Pages.css');